
{% extends 'shop/basic.html'%}
{% block title %} Contact Us - My Cart {%endblock%}
{% block nav %}
    #contact
{% endblock %}
{% block css %}
    <style>
        h1{
            margin-top: 10px;
        }
        .container{
            height: 100vh;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            flex-direction: column;
            color: black;
            margin-top: 60px;
        }
        .container::before{
            background: url("/static/shop/wp3537557.webp");
            content: "";
            position: absolute;
            height: 100vh;
            width: 100%;
            z-index: -1;
            opacity: 0.4;
        }
        input{
            padding: 7px;
            width: 450px;
            font-size: 14px;
            margin: 5px 0px;
            border: 2px solid black;
    border-radius: 4px;
        }
        .form-group{
            display: flex;
            flex-direction: column;
        }
        label{
            font-size: 19px;
        }
        textarea{
            padding: 7px;
            font-size: 15px;
            resize: none;
            height: 150px;
            margin: 7px 0px;
            border: 2px solid black;
    border-radius: 4px;
        }
        .btn{
            font-size: 17px;
            padding: 6px 24px;
            background-color: rgb(164, 164, 244);
            color: black;
            border-radius: 4px;
            margin: 4px auto;
            display: block;
        }
        .btn:hover{
            background-color: black;
            color: white;
        }
        #search{
            width: 35%;
        }
        @media screen and (max-width:431px) {
            input{
                width: 75vw;
            }
            .container::before{
                height: 87vh;
            }
            .container{
                height: 93vh;
            }
        }
    </style>
{% endblock %}
{% block body %}
<div class="container">
    <h1>Contact Us</h1>
    <form action="/shop/contact/" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" placeholder="Enter Your Name" required>
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone: </label>
            <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number" required>
        </div>
        <div class="form-group">
            <label for="desc">How May We Help You? </label>
            <textarea name="desc" id="help" cols="30" rows="10" placeholder="Enter Your Message Here" required></textarea>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>

{%endblock%}
{% block js%}
<script>
    if(localStorage.getItem('cart')==null){
        var cart={}
    }
    else{
        cart=JSON.parse(localStorage.getItem('cart'))
        updateSum(cart)
    }
        function updateSum(cart){
            var sum=0
            for(item in cart){
                sum=sum+cart[''+item][0]
            }
            document.getElementById('cartNo').innerHTML=sum
        }
</script>
{%endblock%}

